<!DOCTYPE html>
<html>
<head>
    <title>Personal Details</title>
</head>
<body>

<h1>My Personal Details</h1>

<p><b>Name:</b> Tamizhselvan</p>
<p><b>Age:</b> 22</p>
<p><b>Gender:</b> Male</p>
<p><b>Email:</b> tamizhselvan@email.com</p>
<p><b>Phone Number:</b> 9876543210</p>
<p><b>Department:</b> B.E - ECE</p>
<p><b>College:</b> PERI Institute of Technology</p>
<p><b>Address:</b> Chennai, Tamil Nadu, India</p>
<p><b>Skills:</b> Python, Django, HTML, CSS</p>
<p><b>Blood Group:</b> B+</p>
<p><b>Hobbies:</b> Coding,listening songs, </p>

</body>
</html>