<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Student Details</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<h1 class="text-center">Student Details</h1>

<table class="table table-bordered table-dark text-center table-hover p-5">

<thead>
<tr>
<th>Student Name</th>
<th>Department</th>
<th>Year</th>
<th>Phone Number</th>
<th>Address</th>
<th>Email</th>
<th>Student Type</th>
<th>Update</th>
<th>Delete</th>
</tr>
</thead>

<tbody>

{% for value in student %}

<tr>
<td>{{ value.studentName }}</td>
<td>{{ value.studentDepartment }}</td>
<td>{{ value.studentYear }}</td>
<td>{{ value.phoneNumber }}</td>
<td>{{ value.address }}</td>
<td>{{ value.emailAddress }}</td>
<td>{{ value.studentType }}</td>

<td>
<button class="btn btn-warning">
<a href="{% url 'valueUpdate' value.id %}" class="text-dark text-decoration-none">
Update
</a>
</button>
</td>

<td>
<button class="btn btn-danger">
<a href="{% url 'valueDelete' value.id %}" class="text-light text-decoration-none">
Delete
</a>
</button>
</td>

</tr>

{% endfor %}

</tbody>

</table>

</body>
</html>